

#row-one {
  background-color: #fffffa;
  height: 25%
}

#row-two {
  background-color: #2ec4b6;
  height: 25%
}

#row-three {
  background-color: #011627;
  height: 25%
}

#row-four {
  background-color: #f2f2f2;
  height: 25%
}
