#row-one {
  background-color: #ffffff
}

#row-two {
  background-color: #2ec4b6;
}

#row-three {
  background-color: #f2f2f2;
}

#row-four {
  background-color: #011627;
}

#brainstorm-image {
  margin-left:35%;
}

form.input {
  style: block
}
